<h1>Here is the lists of post per user</h1>
<h2>User: <%= @user.name %></h2>
<h2>Number of posts: <%= @user.posts.count %></h2>
<h3>Bio</h3>
<p><%= @user.bio %></p>
<% @user.posts.each do |post| %>
  <li>
    <a href="<%= @user.id %>/posts"><%= post.title%></a>
    <%= post.text%>
  </li>
<% end %>
<h4><a href="<%= @user.id %>/posts">See all posts</a></h4>
<h2>New Post</h2>
<%= form_with model: [ @user, @user.posts.build ] do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :text %><br>
    <%= form.text_area :text%>
  </div>
  <div>
    <%= form.submit "Submit Post" %>
  </div>
<% end %>
